ul{
    list-style-type: none;
    padding: 0px;
}
.heading{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    color: blue;
}
.passengers-count{
    margin-left: 50%;
}